body{
	font-family: 'Raleway';
}


.header{
	height: auto;
}

.logo img{
	width: 70px;
	height: 30px;
}

.logobooki{
	 margin-bottom: 7px;
}


.haut{
	 width: 100%;
	 display: flex;
   justify-content: space-between;
   align-items: center;
}

.texte{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 60%;
}

.texte1{
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid transparent;
  width: 140px;
  height: 99px;
}

.texte2{
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid transparent;
  width: 140px;
  height: 99px;
}

.texte1:hover{
    border-top: 1px solid #0065fc;
    cursor: pointer;
}

.texte1:hover a{
  color: #0065fc
}

.texte2:hover{
  border-top: 1px solid #0065fc;
  cursor: pointer;
}

.texte2:hover a{
  color: #0065fc
}
.texte a{
  color: black;
  text-decoration: none;
}

.titre h1 {
  font-weight: bold;
}

.icone{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  border-radius: 10px;
  border: 0.5px solid #f2f2f2;
}

.icone1{
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #f2f2f2;
}

.ville{
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding-left: 20px;
  height: 50px;
  width: 230px;
  font-size: 18px;
  color: black;
  font-weight: bold;
}

.bouton{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 120px;
  color: white;
  cursor: pointer;
  border-radius: 0 10px 10px 0;
  background-color: #0065fc;
}


.bouton:hover{
  color: #0065fc;
  background-color: #f2f2f2;
}

.filtres{
  display: flex;
  align-items: center;
   margin-top: 50px;
  margin-bottom: 40px;
}

.titrefiltre{
  margin-right: 20px;
}

.mobile{
  display: flex;
  justify-content: space-around;
  align-items: center
}

.icone2{
  border: 2px solid #f2f2f2;
  height: 30px;
  border-radius: 30px;
  margin-right: 20px;
   display: flex;
  justify-content: space-between;
  align-items: center;
}

.economiques{
   display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 0 25px 25px 0;
}

.filtre-icons {
  margin-left: -2px;
  border-radius: 25px;
  width: 52px;
  height: 52px;
  color: #0065fc;
  background-color: #deebff;
}
.icone3{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #f2f2f2;
  height: 30px;
  border-radius: 30px;
  margin-right: 20px;
 
}

.familiales{
   display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 0 25px 25px 0;
}

.icone4{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #f2f2f2;
  height: 30px;
  border-radius: 30px;
  margin-right: 20px;
}

.romantiques{
   display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 0 25px 25px 0;
}

.icone5{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #f2f2f2;
  height: 30px;
  border-radius: 30px;
  margin-right: 20px;
}

.animaux{
   display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 0 25px 25px 0;
}

.mobile2{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.info{
  display: flex;
  align-items: center;
}

.icone6{
  width: 20px;
  height: 20px;
  border: 2px solid #f2f2f2;
  border-radius: 25px;
  margin-right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hebergements{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.types{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 2;
  height: 650px;
  margin-right: 20px;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #f2f2f2;
}

.bloc1{
   margin-bottom: 10px;
   display: flex;
  justify-content: space-between;
  align-items: center;
}

.image1{
  width: 30%;
  height: auto;
  background-color: white;
  padding: 1%;
  border-radius: 20px;
  /* rajouter pour voir en version mobile et desktop */
  box-shadow: 5px 5px 5px 1px #f2f2f2;
}

.image1:hover{
  cursor: pointer;
  transform: scale(1.1);
}

.img-hebergements1 {
  object-fit: cover;
  width: 100%;
  height: 120px;
  border-radius: 15px 15px 0 0;

 }

 .cube1{
  width: 90%;
 }

.cube2{
  width: 90%;
}

.image2{
  width: 30%;
  height: auto;
  background-color: white;
  padding: 1%;
  border-radius: 20px;
  /* rajouter pour voir en version mobile et desktop */
  box-shadow: 5px 5px 5px 1px #f2f2f2;
}

.image2:hover{
  cursor: pointer;
  transform: scale(1.1);
}

.img-hebergements2 {
  object-fit: cover;
  width: 100%;
  height: 120px;
  border-radius: 15px 15px 0 0;
}

.image3{
  width: 30%;
  height: auto;
  background-color: white;
  padding: 1%;
  border-radius: 20px;
  /* rajouter pour voir en version mobile et desktop */
  box-shadow: 5px 5px 5px 1px #f2f2f2;
}

.image3:hover{
  cursor: pointer;
  transform: scale(1.1);
}

.img-hebergements3 {
  object-fit: cover;
  width: 100%;
  height: 120px;
  border-radius: 15px 15px 0 0;
}

.cube3{
  width: 90%;
}

.bloc2 {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.image4{
  width: 30%;
  height: auto;
  background-color: white;
  padding: 1%;
  border-radius: 20px;
  /* rajouter pour voir en version mobile et desktop */
  box-shadow: 5px 5px 5px 1px #f2f2f2;
}

.image4:hover{
  cursor: pointer;
  transform: scale(1.1);
}

.img-hebergements4 {
  object-fit: cover;
  width: 100%;
  height: 120px;
  border-radius: 15px 15px 0 0;

 }

 .cube4{
  width: 90%;
 }

.cube5{
  width: 90%;
}

.image5{
  width: 30%;
  height: auto;
  background-color: white;
  padding: 1%;
  border-radius: 20px;
  /* rajouter pour voir en version mobile et desktop */
  box-shadow: 5px 5px 5px 1px #f2f2f2;
}

.image5:hover{
  cursor: pointer;
  transform: scale(1.1);
}

.img-hebergements5{
  object-fit: cover;
  width: 100%;
  height: 120px;
  border-radius: 15px 15px 0 0;
}

.image6{
  width: 30%;
  height: auto;
  background-color: white;
  padding: 1%;
  border-radius: 20px;
  /* rajouter pour voir en version mobile et desktop */
  box-shadow: 5px 5px 5px 1px #f2f2f2;
}

.image6:hover{
  cursor: pointer;
  transform: scale(1.1);
}

.img-hebergements6 {
  object-fit: cover;
  width: 100%;
  height: 120px;
  border-radius: 15px 15px 0 0;
}

.cube6{
  width: 90%;
}

.afficher{
  font-weight: bold;
}

.cotedroit{
   flex: 1;
  height: 650px;
  margin-left: 20px;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #f2f2f2;
}

.iconetexte{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires{
  font-weight: bold;
}

.partie1{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.photo1{
  margin-bottom: 22px;
  background-color: white;
  height: auto;
  padding: 1% 0 1% 1%;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo1:hover{
   cursor: pointer;
  transform: scale(1.05);
}

.img-populaires1 {
  object-fit: cover;
  width: 35%;
  height: 160px;
  border-radius: 15px 0 0 15px;
}

.hotel1{
  width: 60%;
  padding-left: 5%;
}

.photo2{
  margin-bottom: 22px;
  background-color: white;
  height: auto;
  padding: 1% 0 1% 1%;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo2:hover{
   cursor: pointer;
  transform: scale(1.05);
}

.img-populaires2 {
  object-fit: cover;
  width: 35%;
  height: 160px;
  border-radius: 15px 0 0 15px;
}

.hotel2{
  width: 60%;
  padding-left: 5%;
}

.photo3{
  margin-bottom: 22px;
  background-color: white;
  height: auto;
  padding: 1% 0 1% 1%;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo3:hover{
   cursor: pointer;
  transform: scale(1.05);
}

.img-populaires3 {
  object-fit: cover;
  width: 35%;
  height: 160px;
  border-radius: 15px 0 0 15px;
}

.hotel3{
  width: 60%;
  padding-left: 5%;
}

#activites {
  margin-top: 50px;
  margin-bottom: 50px;
}

.activite{
  padding-left: 5%;
}

.activite1{
   width: 100%;
  height: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.illustration1{
  width: 23%;
  border-radius: 15px;
  box-shadow: 5px 5px 5px 1px #f2f2f2
   display: flex;
  flex-directiion: column;
  justify-content: center;
  align-items: center;
}

.illustration1:hover{
  cursor: pointer;
  transform: scale(1.03);
}

.img-activites1 {
  object-fit: cover;
  width: 100%;
  height: 530px;
  border-radius: 15px 15px 0 0;
}

.titreA{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 5%;
  width: 95%;
  height: 70px;
}
